.header{
    height: 70px;
    width: 100%;
    max-width: 89vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgba(83, 83, 77, 0.055));;
    align-self: center;
    text-align: center;
    
    .logo-container{
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .logo{
        height: 100%;
        width: auto;
        padding: 10px;
        margin-top: -35px;
    }

    .options{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option{
            padding: 10px 15px;
            text-decoration: none;
            color: black;
        }
    }
}

@media only screen and (min-width: 1441px) {
    .header{ max-width: 100%; }
  }